Ace
Agrosalta
Morrone
GM_GRUPO_ASEGURADOR
AgrosaltaMoron
El Comercio
PSA_Peugeot
PSA_Citroen
Federal
ANTARTIDA SEGUROS
Willassist
Erika
organizacion Torres
Mundi
Basilio
Boston -TElefonica
La Veloz
LIDERAR
Liderar_Vargas
Iveco
NUEVOBANCOCOMERCIALDEURUGUAY
Triunfo Seguros
INTERNATIONALASSISTANCE
IntegritySeguros
SiempreSegurosGenerales
OrganizacionLaSpina
AGS
HorizonteSeguros
MAYASISTENCIAS
RESGUARDOASISTENCIAS
BuenosAiresAsistencias
CaminosProtegidos
TriunfoSegurosAP
LifeAssistance
TarjetaPlata
CRYASOCIADOS
Qualia
AUXILIO24
SPCONSULTORA
GALENOLIFE
Claugel
ASISTENCIAVIP
UPSA
amtmf
AMMMA
AMEP
AMCSudEste
ASMEPRIV
AL PRODUCTOR ASESOR AYELEN LARDAPIDE
AgenciaDeViajes
ARCOR
HINO
Huarpes
AMSeSa
AMMetropolitana
CooperativaCardinal
ColonMotos
ColonEmpleados
NACIONALVIDASEGUROSDEPERSONAS
Premedic
Desafio Ruta 40
DTC
BIND
Global Asistencias
BeneficioSeguros
RedDeServicios
AMLitoral
ColonAsistencias
ColonSeguros
OBRASOCIALDELAMATANZA
SI SERVICIOS(kodalle)
FORD
FORTALEZA SEGUROS
ArgusSalud
TarjetaActual
CocinaSaludable
AMBULANCIAS - BANCOINDUSTRIAL
PROTECCION GLOBAL ( LA ANONIMA )
BEEFIX
BIND - Area protegida
SEGURCOOP
RRHH EMERGENCIAS CARDINAL
Hogar - BancoIndustrial/
MEDICASSIST/
GarantiaDirecta/
Assisto/
AMSE/
Caruso/
PACK BENEFICIO SALUD/

*.OBJ
*.tmp
*.exe